body {
  font-family: Helvetica;
  padding: 2em;
  background-color: whitesmoke;
}

h1 {
  font-size: 2.5em;
}
a {
font-size: 1.0em;
}
.skillset {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skill-about{
  background-color: #ffbe3d
}
.skill-html {
  background-color: #E55126;
}
.center-me {
  margin: 0 auto;
}
.trailer {
  margin: 0 auto;
}
.skill-js {
  background-color: #E5A227;
}

.skill-jquery {
  background-color: #0C73B8;
}

.skill-html,
.skill-js,
.skill-jquery {
  width: 100%;
  padding: 1em 3em 2em 2em;
  margin: 0.5em;
  color: whitesmoke;
}
.skill-about{
width: 100%;
  padding: 1em 3em 2em 2em;
  margin: 0.5em;
  color: whitesmoke;
}
.about{
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 10em;
  color: black;
}
.projects-button {
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 10em;
  color: black;
}
.back-to-home{
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 10em;
color: black;
}
#note {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}
ul {
  list-style: none;
  padding: 0;
}
.centered-text {
  text-align: center;
}
.projects {
  margin: 1em 0;
}

.active {
  background-color: #333333;
  color: whitesmoke;
}
